.App {
  text-align: center;
}

.bus-schedule {
  position: relative;
}

.bus {
  position: relative;
  display: block;
  padding: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  height: 30px
}

.bus:nth-child(even) {
  background-color: #f2f2f2;
}

.bus-trips {
  position: absolute;
  display: inline-block;
}

.trip {
  position: absolute;
  border: 1px;
  border-style: solid;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: lightgrey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
